body {
  font-family: Bahnschrift;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('images/4.jpg'); /* Replace 'your-background-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
}
h1{
  color: #ffffff;
  text-align:center;
}
.submit-btn{
	display:flex;
	justify-content:center;
	align-items:center;
}
.login-container {
  text-align: center; /* Center align all content within the container */
}

.login-box {
  display: inline-block; /* Display the login box as inline-block */
  width: 400px;
  padding: 40px;
  background: rgba(24, 20, 20, 0.5); /* Adjust the alpha value for transparency */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  text-align: left; /* Align text inside login box to the left */
}
.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #ff004c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff004c,
              0 0 25px #ff004c,
              0 0 50px #ff004c,
              0 0 100px #ff004c;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff004c);
  animation: btn-anim1 2s linear infinite;
}

/* Button style */
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 5px;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}


