/* style.css */

body {
    font-family: Bahnschrift;
    color: #fff;
    background-image: url('images/6.jpg'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 10px;
    font-family: Berlin Sans FB;
}

h1 {
    text-align: center;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #110109; /* Updated background color */
  background-size: 400%;
  color: #fff; /* Updated text color */
  border: none;
  cursor: pointer;
 
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
  font-size: 1.1rem; /* Updated font size */
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
.button-container{
	margin:10px;
	display:flex;
	justify-content:center;
}
